<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body style="height: 100%">
    <%- include("./partials/nav.ejs") %>
    <%  console.log(user);
    let username = "";
    if (user != ""){
      username = user.username;
    } else{
      username = "";
    } %>
    <div class="main-container">
      <div id="container1" style="height: 1500px" class="containerDark">
        <div class="container1-inner-left">
          <form class="container1-form" action="/" method="POST">
            <input style="display: none" name="type" value="createQuote" />
            <input name="quoteContent" class="quote-container" placeholder="Type a quote to start!"/>
            <button style="margin: 25px; width: 60px">Send</button>
          </form>
        </div>
        <div class="container1-inner-right">
        <form action="/" method="POST">
          <div class="container1-input">
            <p><%= username %></p>
            Author
            <input name="author" value="" type="text" />
          </div>
          <div class="container1-input">
            ID
            <input name="searchID" id="id" value="" type="text" />
          </div>

          <div class="container1-input">
            Speacial Search
            <select name="speacialSearch">
              <option value="most_liked">Most Liked</option>
              <option value="most_disliked">Most Disliked</option>
            </select>
          </div>

          <div style="display: flex; justify-content: center">
              <input style="display: none" name="type" value="searchQuote" />
              <button id="search" style="margin: 10px">
        </form>
              Search
            </button>
          </div>
        </div>
      </div>
      <div
        id="quote-container"
        class="containerLight"
        style="height: 900px; flex-direction: column"
      >
        <p class="containerText">
          <% if (ID == -1){ ID = Math.floor(Math.random()
          * Object.keys(quotes).length); %> <%= quotes[ID].content %> <p>Quote Author: <%= quotes[ID].author %></p> <% } else{
          %> <%= quote %> <p>Author: <%= author %></p> <% } %>
        <p>Quote ID: <%= ID %></p>
      </div>

      <div id="control-container" class="control-container">
        <div class="button-container">
          <form action="/" method="POST">
            <input name="ID" style="display: none" value="<%= ID %>" />
            <input style="display: none" name="type" value="previousQuote" />
            <button class="controls-button">Left</button>
          </form>
          <button class="controls-button">Like</button>
          <button class="controls-button">Delete</button>
          <button class="controls-button">Dislike</button>
          <form action="/" method="POST">
            <input name="ID" style="display: none" value="<%= ID %>" />
            <input style="display: none" name="type" value="nextQuote" />
            <button class="controls-button">Right</button>
          </form>
        </div>
      </div>
    </div>

    <script src="index.js"></script>
  </body>
</html>
